* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

.contenitore{
    width: 80%;
    /*height: 500px;*/
    margin: auto;
    background-color: grey;
}

.testata{
    width: 100%;
    margin-top: 1em;
    height: 6em;
    background-color: violet;
}

.menu{
    width: 100%;
    margin-top: 1em;
    height: 20em;
    background-color: yellow;
}

